* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f8f9fa;
}
:root {
  --main-font: "Dancing Script", cursive;
  --secondary-font: "Cormorant Garamond", serif;
  --main-color:rgb(12, 190, 131);
}
h1 {
  color: var(--main-color);
   position: relative;
  font-family: var(--main-font);
  transition: width 2s ;
}
h1::after{
    content: '';
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    background-color:var(--main-color);
    cursor: pointer;
}
h1:hover::after{
   width: 10%;
}
h2 {
  font-family: var(--secondary-font);

  color: rgb(20, 164, 116);
}

.cursor-pointer{
    cursor: pointer;
}
 
.close-btn:hover{
    color:rgb(203, 12, 12);
}
