@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --main-color:#be985a;
    --main-background:#f4f1ec;

}
*{

  font-family: "Roboto", sans-serif;
  color:var(--main-color);

}
a {
    text-decoration: none;
    color: black;
}
.form-control:focus{
    border-color: var(--main-color) !important;
    box-shadow: 0 0 0 0.25rem var(--main-color)!important;
}
.main-border{
    border-color:var(--main-color) !important;
}
.main-color{
    color: var(--main-color);
}
.bg-main{
    background-color: var(--main-color);
}
.btn-main{
    color:#fff;
    background-color:var(--main-color);
}  
.btn-main:hover{
    background-color: black;
    color:#fff;
} 
.cursor-pointer{
    cursor: pointer;
}
h1 {
    color:black;
    position: relative;
    font-family: "Roboto", sans-serif;
}
h1::after{
      content: '';
      position: absolute;
      top: 103%;
      left: 50%;
      transform: translateX(-50%);
      width: 5%;
      height: 3px;
      background-color:black;
      transition: width 1s ;

}
h1:hover::after{
    width: 10%;
 }

.background-main{
    background-color: var(--main-background);
} 
h3{
    color:var(--main-color);
}

#cardDetails{
    box-shadow:5px 5px 20px var(--main-color);
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}